.rules-hard {
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 20px;
}

p {
    padding-right: 20px;
    padding-left: 20px;
    color: black;
}
.rules-hard h1 {
    padding-right: 20px;
    padding-left: 20px;
    color: black;
    padding-top: 2%;
}
h3 {
    padding-right: 20px;
    padding-left: 20px;
    color: black;
}
.rules-hard li {
    padding-right: 20px;
    padding-left: 50px;
    color: black;
}

.bottom-12 {
    padding-bottom: 2%;
}
